In [37]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [7]:
file = '../../data/fraud_oracle.csv'
data = pd.read_csv(file,index_col=False)
data

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15415,Nov,4,Friday,Toyota,Urban,Tuesday,Nov,5,Male,Married,...,6 years,31 to 35,No,No,External,none,no change,1 vehicle,1996,Collision
15416,Nov,5,Thursday,Pontiac,Urban,Friday,Dec,1,Male,Married,...,6 years,31 to 35,No,No,External,more than 5,no change,3 to 4,1996,Liability
15417,Nov,5,Thursday,Toyota,Rural,Friday,Dec,1,Male,Single,...,5 years,26 to 30,No,No,External,1 to 2,no change,1 vehicle,1996,Collision
15418,Dec,1,Monday,Toyota,Urban,Thursday,Dec,2,Female,Married,...,2 years,31 to 35,No,No,External,more than 5,no change,1 vehicle,1996,All Perils
15419,Dec,2,Wednesday,Toyota,Urban,Thursday,Dec,3,Male,Single,...,5 years,26 to 30,No,No,External,1 to 2,no change,1 vehicle,1996,Collision

In [8]:
data.columns

Index(['Month', 'WeekOfMonth', 'DayOfWeek', 'Make', 'AccidentArea',
       'DayOfWeekClaimed', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex',
       'MaritalStatus', 'Age', 'Fault', 'PolicyType', 'VehicleCategory',
       'VehiclePrice', 'FraudFound_P', 'PolicyNumber', 'RepNumber',
       'Deductible', 'DriverRating', 'Days_Policy_Accident',
       'Days_Policy_Claim', 'PastNumberOfClaims', 'AgeOfVehicle',
       'AgeOfPolicyHolder', 'PoliceReportFiled', 'WitnessPresent', 'AgentType',
       'NumberOfSuppliments', 'AddressChange_Claim', 'NumberOfCars', 'Year',
       'BasePolicy'],
      dtype='object')

In [25]:
data.dtypes

Month                   object
WeekOfMonth              int64
DayOfWeek               object
Make                    object
AccidentArea            object
DayOfWeekClaimed        object
MonthClaimed            object
WeekOfMonthClaimed       int64
Sex                     object
MaritalStatus           object
Age                      int64
Fault                   object
PolicyType              object
VehicleCategory         object
VehiclePrice            object
FraudFound_P             int64
PolicyNumber             int64
RepNumber                int64
Deductible               int64
DriverRating             int64
Days_Policy_Accident    object
Days_Policy_Claim       object
PastNumberOfClaims      object
AgeOfVehicle            object
AgeOfPolicyHolder       object
PoliceReportFiled       object
WitnessPresent          object
AgentType               object
NumberOfSuppliments     object
AddressChange_Claim     object
NumberOfCars            object
Year                     int64
BasePolicy              object
dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15420 entries, 0 to 15419
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 15420 non-null  object
 1   WeekOfMonth           15420 non-null  int64
 2   DayOfWeek             15420 non-null  object
 3   Make                  15420 non-null  object
 4   AccidentArea          15420 non-null  object
 5   DayOfWeekClaimed      15420 non-null  object
 6   MonthClaimed          15420 non-null  object
 7   WeekOfMonthClaimed    15420 non-null  int64
 8   Sex                   15420 non-null  object
 9   MaritalStatus         15420 non-null  object
 10  Age                   15420 non-null  int64
 11  Fault                 15420 non-null  object
 12  PolicyType            15420 non-null  object
 13  VehicleCategory       15420 non-null  object
 14  VehiclePrice          15420 non-null  object
 15  FraudFound_P          15420 non-null  int64
 16  PolicyNumber          15420 non-null  int64
 17  RepNumber             15420 non-null  int64
 18  Deductible            15420 non-null  int64
 19  DriverRating          15420 non-null  int64
 20  Days_Policy_Accident  15420 non-null  object
 21  Days_Policy_Claim     15420 non-null  object
 22  PastNumberOfClaims    15420 non-null  object
 23  AgeOfVehicle          15420 non-null  object
 24  AgeOfPolicyHolder     15420 non-null  object
 25  PoliceReportFiled     15420 non-null  object
 26  WitnessPresent        15420 non-null  object
 27  AgentType             15420 non-null  object
 28  NumberOfSuppliments   15420 non-null  object
 29  AddressChange_Claim   15420 non-null  object
 30  NumberOfCars          15420 non-null  object
 31  Year                  15420 non-null  int64
 32  BasePolicy            15420 non-null  object
dtypes: int64(9), object(24)
memory usage: 3.9+ MB

In [20]:
category_cols=list(data.select_dtypes('object').columns)

In [21]:
numeric_cols=list(data.select_dtypes('number').columns)

In [26]:
data[category_cols]=data[category_cols].astype('category')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15420 entries, 0 to 15419
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 15420 non-null  category
 1   WeekOfMonth           15420 non-null  int64
 2   DayOfWeek             15420 non-null  category
 3   Make                  15420 non-null  category
 4   AccidentArea          15420 non-null  category
 5   DayOfWeekClaimed      15420 non-null  category
 6   MonthClaimed          15420 non-null  category
 7   WeekOfMonthClaimed    15420 non-null  int64
 8   Sex                   15420 non-null  category
 9   MaritalStatus         15420 non-null  category
 10  Age                   15420 non-null  int64
 11  Fault                 15420 non-null  category
 12  PolicyType            15420 non-null  category
 13  VehicleCategory       15420 non-null  category
 14  VehiclePrice          15420 non-null  category
 15  FraudFound_P          15420 non-null  int64
 16  PolicyNumber          15420 non-null  int64
 17  RepNumber             15420 non-null  int64
 18  Deductible            15420 non-null  int64
 19  DriverRating          15420 non-null  int64
 20  Days_Policy_Accident  15420 non-null  category
 21  Days_Policy_Claim     15420 non-null  category
 22  PastNumberOfClaims    15420 non-null  category
 23  AgeOfVehicle          15420 non-null  category
 24  AgeOfPolicyHolder     15420 non-null  category
 25  PoliceReportFiled     15420 non-null  category
 26  WitnessPresent        15420 non-null  category
 27  AgentType             15420 non-null  category
 28  NumberOfSuppliments   15420 non-null  category
 29  AddressChange_Claim   15420 non-null  category
 30  NumberOfCars          15420 non-null  category
 31  Year                  15420 non-null  int64
 32  BasePolicy            15420 non-null  category
dtypes: category(24), int64(9)
memory usage: 1.4 MB

In [32]:
data.duplicated().sum()

0

In [33]:
data.isnull().sum()

Month                   0
WeekOfMonth             0
DayOfWeek               0
Make                    0
AccidentArea            0
DayOfWeekClaimed        0
MonthClaimed            0
WeekOfMonthClaimed      0
Sex                     0
MaritalStatus           0
Age                     0
Fault                   0
PolicyType              0
VehicleCategory         0
VehiclePrice            0
FraudFound_P            0
PolicyNumber            0
RepNumber               0
Deductible              0
DriverRating            0
Days_Policy_Accident    0
Days_Policy_Claim       0
PastNumberOfClaims      0
AgeOfVehicle            0
AgeOfPolicyHolder       0
PoliceReportFiled       0
WitnessPresent          0
AgentType               0
NumberOfSuppliments     0
AddressChange_Claim     0
NumberOfCars            0
Year                    0
BasePolicy              0
dtype: int64

In [27]:
print(f"Bien phan loai: {len(category_cols)}, Bien lien tuc: {len(numeric_cols)}")

Bien phan loai: 24, Bien lien tuc: 9

In [28]:
data[category_cols].describe()

,Month,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,Sex,MaritalStatus,Fault,PolicyType,...,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,BasePolicy
count,15420,15420,15420,15420,15420,15420,15420,15420,15420,15420,...,15420,15420,15420,15420,15420,15420,15420,15420,15420,15420
unique,12,7,19,2,8,13,2,4,2,9,...,4,8,9,2,2,2,4,5,5,3
top,Jan,Monday,Pontiac,Urban,Monday,Jan,Male,Married,Policy Holder,Sedan - Collision,...,2 to 4,7 years,31 to 35,No,No,External,none,no change,1 vehicle,Collision
freq,1411,2616,3837,13822,3757,1446,13000,10625,11230,5584,...,5485,5807,5593,14992,15333,15179,7047,14324,14316,5962

In [31]:
for column in category_cols: 
    print("\033[1m","*, Column: ", column,"\033[0m")   
    print('\t',len(data[column].unique()), "unique values", "\t & \t", 
          data[column].notnull().sum(), "non-null values\t", 
          round(100* data[column].notnull().sum()/len(data[column]),2), 
          "% non-null") 
    if len(data[column].unique())<=10:
            print('\t',data[column].unique())

 *, Column:  Month
	 12 unique values 	 & 	 15420 non-null values	 100.0 % non-null
 *, Column:  DayOfWeek
	 7 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Wednesday', 'Friday', 'Saturday', 'Monday', 'Tuesday', 'Sunday', 'Thursday']
Categories (7, object): ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']
 *, Column:  Make
	 19 unique values 	 & 	 15420 non-null values	 100.0 % non-null
 *, Column:  AccidentArea
	 2 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Urban', 'Rural']
Categories (2, object): ['Rural', 'Urban']
 *, Column:  DayOfWeekClaimed
	 8 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Tuesday', 'Monday', 'Thursday', 'Friday', 'Wednesday', 'Saturday', 'Sunday', '0']
Categories (8, object): ['0', 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']
 *, Column:  MonthClaimed
	 13 unique values 	 & 	 15420 non-null values	 100.0 % non-null
 *, Column:  Sex
	 2 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Female', 'Male']
Categories (2, object): ['Female', 'Male']
 *, Column:  MaritalStatus
	 4 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Single', 'Married', 'Widow', 'Divorced']
Categories (4, object): ['Divorced', 'Married', 'Single', 'Widow']
 *, Column:  Fault
	 2 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Policy Holder', 'Third Party']
Categories (2, object): ['Policy Holder', 'Third Party']
 *, Column:  PolicyType
	 9 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Sport - Liability', 'Sport - Collision', 'Sedan - Liability', 'Utility - All Perils', 'Sedan - All Perils', 'Sedan - Collision', 'Utility - Collision', 'Utility - Liability', 'Sport - All Perils']
Categories (9, object): ['Sedan - All Perils', 'Sedan - Collision', 'Sedan - Liability', 'Sport - All Perils', ..., 'Sport - Liability', 'Utility - All Perils', 'Utility - Collision', 'Utility - Liability']
 *, Column:  VehicleCategory
	 3 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Sport', 'Utility', 'Sedan']
Categories (3, object): ['Sedan', 'Sport', 'Utility']
 *, Column:  VehiclePrice
	 6 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['more than 69000', '20000 to 29000', '30000 to 39000', 'less than 20000', '40000 to 59000', '60000 to 69000']
Categories (6, object): ['20000 to 29000', '30000 to 39000', '40000 to 59000', '60000 to 69000', 'less than 20000', 'more than 69000']
 *, Column:  Days_Policy_Accident
	 5 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['more than 30', '15 to 30', 'none', '1 to 7', '8 to 15']
Categories (5, object): ['1 to 7', '15 to 30', '8 to 15', 'more than 30', 'none']
 *, Column:  Days_Policy_Claim
	 4 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['more than 30', '15 to 30', '8 to 15', 'none']
Categories (4, object): ['15 to 30', '8 to 15', 'more than 30', 'none']
 *, Column:  PastNumberOfClaims
	 4 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['none', '1', '2 to 4', 'more than 4']
Categories (4, object): ['1', '2 to 4', 'more than 4', 'none']
 *, Column:  AgeOfVehicle
	 8 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['3 years', '6 years', '7 years', 'more than 7', '5 years', 'new', '4 years', '2 years']
Categories (8, object): ['2 years', '3 years', '4 years', '5 years', '6 years', '7 years', 'more than 7', 'new']
 *, Column:  AgeOfPolicyHolder
	 9 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['26 to 30', '31 to 35', '41 to 50', '51 to 65', '21 to 25', '36 to 40', '16 to 17', 'over 65', '18 to 20']
Categories (9, object): ['16 to 17', '18 to 20', '21 to 25', '26 to 30', ..., '36 to 40', '41 to 50', '51 to 65', 'over 65']
 *, Column:  PoliceReportFiled
	 2 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['No', 'Yes']
Categories (2, object): ['No', 'Yes']
 *, Column:  WitnessPresent
	 2 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['No', 'Yes']
Categories (2, object): ['No', 'Yes']
 *, Column:  AgentType
	 2 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['External', 'Internal']
Categories (2, object): ['External', 'Internal']
 *, Column:  NumberOfSuppliments
	 4 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['none', 'more than 5', '3 to 5', '1 to 2']
Categories (4, object): ['1 to 2', '3 to 5', 'more than 5', 'none']
 *, Column:  AddressChange_Claim
	 5 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['1 year', 'no change', '4 to 8 years', '2 to 3 years', 'under 6 months']
Categories (5, object): ['1 year', '2 to 3 years', '4 to 8 years', 'no change', 'under 6 months']
 *, Column:  NumberOfCars
	 5 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['3 to 4', '1 vehicle', '2 vehicles', '5 to 8', 'more than 8']
Categories (5, object): ['1 vehicle', '2 vehicles', '3 to 4', '5 to 8', 'more than 8']
 *, Column:  BasePolicy
	 3 unique values 	 & 	 15420 non-null values	 100.0 % non-null
	 ['Liability', 'Collision', 'All Perils']
Categories (3, object): ['All Perils', 'Collision', 'Liability']

### Nhận xét: một số cột phân loại xuất hiện giá trị none, khi xử lý dữ liệu cần lưu ý điểm này để tránh bỏ qua sai sót

In [34]:
nulldata_categorical=(data[category_cols]=='none').sum()
nulldata_categorical

Month                      0
DayOfWeek                  0
Make                       0
AccidentArea               0
DayOfWeekClaimed           0
MonthClaimed               0
Sex                        0
MaritalStatus              0
Fault                      0
PolicyType                 0
VehicleCategory            0
VehiclePrice               0
Days_Policy_Accident      55
Days_Policy_Claim          1
PastNumberOfClaims      4352
AgeOfVehicle               0
AgeOfPolicyHolder          0
PoliceReportFiled          0
WitnessPresent             0
AgentType                  0
NumberOfSuppliments     7047
AddressChange_Claim        0
NumberOfCars               0
BasePolicy                 0
dtype: int64

In [35]:
for column in category_cols:
    if len(data[column].unique())<=10:
        print('-'*100)
        print("*, Column: ", column)
        print(data[column].value_counts())
        print('-'*100)

----------------------------------------------------------------------------------------------------
*, Column:  DayOfWeek
Monday       2616
Friday       2445
Tuesday      2300
Thursday     2173
Wednesday    2159
Saturday     1982
Sunday       1745
Name: DayOfWeek, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  AccidentArea
Urban    13822
Rural     1598
Name: AccidentArea, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  DayOfWeekClaimed
Monday       3757
Tuesday      3375
Wednesday    2951
Thursday     2660
Friday       2497
Saturday      127
Sunday         52
0               1
Name: DayOfWeekClaimed, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Sex
Male      13000
Female     2420
Name: Sex, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  MaritalStatus
Married     10625
Single       4684
Divorced       76
Widow          35
Name: MaritalStatus, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Fault
Policy Holder    11230
Third Party       4190
Name: Fault, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  PolicyType
Sedan - Collision       5584
Sedan - Liability       4987
Sedan - All Perils      4087
Sport - Collision        348
Utility - All Perils     340
Utility - Collision       30
Sport - All Perils        22
Utility - Liability       21
Sport - Liability          1
Name: PolicyType, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  VehicleCategory
Sedan      9671
Sport      5358
Utility     391
Name: VehicleCategory, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  VehiclePrice
20000 to 29000     8079
30000 to 39000     3533
more than 69000    2164
less than 20000    1096
40000 to 59000      461
60000 to 69000       87
Name: VehiclePrice, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Days_Policy_Accident
more than 30    15247
8 to 15            55
none               55
15 to 30           49
1 to 7             14
Name: Days_Policy_Accident, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  Days_Policy_Claim
more than 30    15342
15 to 30           56
8 to 15            21
none                1
Name: Days_Policy_Claim, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  PastNumberOfClaims
2 to 4         5485
none           4352
1              3573
more than 4    2010
Name: PastNumberOfClaims, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  AgeOfVehicle
7 years        5807
more than 7    3981
6 years        3448
5 years        1357
new             373
4 years         229
3 years         152
2 years          73
Name: AgeOfVehicle, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  AgeOfPolicyHolder
31 to 35    5593
36 to 40    4043
41 to 50    2828
51 to 65    1392
26 to 30     613
over 65      508
16 to 17     320
21 to 25     108
18 to 20      15
Name: AgeOfPolicyHolder, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  PoliceReportFiled
No     14992
Yes      428
Name: PoliceReportFiled, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  WitnessPresent
No     15333
Yes       87
Name: WitnessPresent, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  AgentType
External    15179
Internal      241
Name: AgentType, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  NumberOfSuppliments
none           7047
more than 5    3867
1 to 2         2489
3 to 5         2017
Name: NumberOfSuppliments, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  AddressChange_Claim
no change         14324
4 to 8 years        631
2 to 3 years        291
1 year              170
under 6 months        4
Name: AddressChange_Claim, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  NumberOfCars
1 vehicle      14316
2 vehicles       709
3 to 4           372
5 to 8            21
more than 8        2
Name: NumberOfCars, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
*, Column:  BasePolicy
Collision     5962
Liability     5009
All Perils    4449
Name: BasePolicy, dtype: int64
----------------------------------------------------------------------------------------------------

In [38]:
for column in category_cols:
    if len(data[column].unique())<=40:
        data[column].value_counts().iplot(kind='bar',title=column, 
                                        xTitle=column, 
                                        yTitle='Values')

AttributeError: 'Series' object has no attribute 'iplot'

In [29]:
data[numeric_cols].describe()

,WeekOfMonth,WeekOfMonthClaimed,Age,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Year
count,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000
mean,2.788586,2.693969,39.855707,0.059857,7710.500000,8.483268,407.704280,2.487808,1994.866472
std,1.287585,1.259115,13.492377,0.237230,4451.514911,4.599948,43.950998,1.119453,0.803313
min,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,300.000000,1.000000,1994.000000
25%,2.000000,2.000000,31.000000,0.000000,3855.750000,5.000000,400.000000,1.000000,1994.000000
50%,3.000000,3.000000,38.000000,0.000000,7710.500000,8.000000,400.000000,2.000000,1995.000000
75%,4.000000,4.000000,48.000000,0.000000,11565.250000,12.000000,400.000000,3.000000,1996.000000
max,5.000000,5.000000,80.000000,1.000000,15420.000000,16.000000,700.000000,4.000000,1996.000000

In [40]:
for column in numeric_cols: 
    print("*, Column: ", column)   
    print(len(data[column].unique()), "unique values", "\t & \t", 
          data[column].notnull().sum(), "non-null values\t", 
          round(100* data[column].notnull().sum()/len(data[column]),2), 
          "% non-null")
    if len(data[column].unique())<=10:
        print(data[column].unique())

*, Column:  WeekOfMonth
5 unique values 	 & 	 15420 non-null values	 100.0 % non-null
[5 3 2 4 1]
*, Column:  WeekOfMonthClaimed
5 unique values 	 & 	 15420 non-null values	 100.0 % non-null
[1 4 2 3 5]
*, Column:  Age
66 unique values 	 & 	 15420 non-null values	 100.0 % non-null
*, Column:  FraudFound_P
2 unique values 	 & 	 15420 non-null values	 100.0 % non-null
[0 1]
*, Column:  PolicyNumber
15420 unique values 	 & 	 15420 non-null values	 100.0 % non-null
*, Column:  RepNumber
16 unique values 	 & 	 15420 non-null values	 100.0 % non-null
*, Column:  Deductible
4 unique values 	 & 	 15420 non-null values	 100.0 % non-null
[300 400 500 700]
*, Column:  DriverRating
4 unique values 	 & 	 15420 non-null values	 100.0 % non-null
[1 4 3 2]
*, Column:  Year
3 unique values 	 & 	 15420 non-null values	 100.0 % non-null
[1994 1995 1996]