In [1]:
import sys,os
__script_path=os.path.abspath(globals().get('__file__','.'))
__script_dir = os.path.dirname(__script_path)
root_dir = os.path.abspath(f'{__script_dir}/..')
print(root_dir)
for lib in [root_dir][::-1]:
    if lib in sys.path:
        sys.path.remove(lib)
    sys.path.insert(0,lib)
from libs.lib import *

d:\ads_test

In [2]:
exps_dir = "../../exps/exp2"
if os.path.exists(exps_dir) == False: # tạo thư mục (nếu chưa có)
  os.makedirs(exps_dir, exist_ok=True)

save_dir = f"{exps_dir}/data"
os.makedirs(save_dir, exist_ok=True)

In [3]:
test_size=0.33
seed=42
data=pd.read_excel(f'{exps_dir}/data/data_EDA.xlsx')
data

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG,URBANICITY
0,63581743,0,2039-03-16,Old,0,11.0,67349.0,No,0.0,z_No,...,Minivan,yes,4461,2,No,3,0,18.0,0,Highly Urban/ Urban
1,132761049,0,2056-01-21,Middle,0,11.0,91449.0,No,257252.0,z_No,...,Minivan,yes,0,0,No,0,0,1.0,0,Highly Urban/ Urban
2,921317019,0,2051-11-18,Middle,0,11.0,52881.0,No,0.0,z_No,...,Van,yes,0,0,No,2,0,10.0,0,Highly Urban/ Urban
3,727598473,0,2064-03-05,Middle,1,10.0,16039.0,No,124191.0,Yes,...,z_SUV,no,38690,2,No,3,0,10.0,0,Highly Urban/ Urban
4,450221861,0,2048-06-05,Middle,0,14.0,NaN,No,306251.0,Yes,...,Minivan,yes,0,0,No,0,0,6.0,0,Highly Urban/ Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10296,67790126,1,2054-08-13,Middle,2,9.0,164669.0,No,386273.0,Yes,...,Minivan,no,0,0,No,2,0,17.0,0,Highly Urban/ Urban
10297,61970712,0,2053-06-17,Middle,0,9.0,107204.0,No,332591.0,Yes,...,Panel Truck,no,0,0,No,0,0,1.0,0,Highly Urban/ Urban
10298,849208064,0,2051-06-18,Middle,0,15.0,39837.0,No,170611.0,Yes,...,z_SUV,no,0,0,No,0,0,1.0,0,Highly Urban/ Urban
10299,627828331,0,2048-12-12,Middle,0,7.0,43445.0,No,149248.0,Yes,...,Minivan,no,0,0,No,0,0,11.0,0,Highly Urban/ Urban
10300,680381960,0,2047-02-27,Middle,0,11.0,53235.0,No,197017.0,Yes,...,Minivan,no,0,0,No,0,0,9.0,0,z_Highly Rural/ Rural

In [4]:
data_train, data_test = train_test_split(data, test_size = 0.33, random_state=seed)
print(f'Kich thuoc tap train: {data_train.shape} va tap test: {data_test.shape}')
data_train.to_excel(f'{save_dir}/datatrain.xlsx', index=None)
data_test.to_excel(f'{save_dir}/datatest.xlsx', index=None)

Kich thuoc tap train: (6901, 27) va tap test: (3400, 27)

In [5]:
data_train

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG,URBANICITY
9213,349713149,0,2055-08-30,Middle,1,14.0,81369.0,No,226959.0,Yes,...,z_SUV,no,28499,2,Yes,5,0,1.0,0,z_Highly Rural/ Rural
1074,63207789,0,2052-02-06,Middle,0,11.0,30452.0,No,150468.0,Yes,...,Van,yes,0,0,No,0,0,8.0,0,Highly Urban/ Urban
5547,578508252,0,2066-07-17,Middle,0,12.0,40071.0,No,NaN,Yes,...,Sports Car,no,0,0,No,1,0,10.0,0,Highly Urban/ Urban
3509,563788172,0,2048-08-26,Middle,1,16.0,23640.0,No,NaN,Yes,...,z_SUV,no,5372,2,No,0,0,1.0,0,Highly Urban/ Urban
1469,846650640,0,1970-06-26,Young,1,9.0,445.0,Yes,97183.0,z_No,...,z_SUV,no,2555,3,No,0,27254,13.0,1,Highly Urban/ Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,788953112,1,2056-05-01,Middle,2,12.0,23996.0,No,150242.0,Yes,...,Sports Car,no,0,0,No,0,0,7.0,0,z_Highly Rural/ Rural
5191,605134285,0,2062-11-18,Middle,0,12.0,NaN,No,NaN,z_No,...,Minivan,no,0,0,No,0,0,15.0,0,Highly Urban/ Urban
5390,462823578,0,2064-01-23,Middle,1,9.0,77179.0,Yes,0.0,z_No,...,Minivan,no,0,0,No,0,4966,4.0,1,Highly Urban/ Urban
860,668346653,0,2061-06-17,Middle,0,12.0,NaN,No,122423.0,Yes,...,Panel Truck,yes,1414,2,No,4,0,1.0,0,Highly Urban/ Urban
7270,511590420,0,2059-01-20,Middle,3,15.0,52210.0,No,129915.0,Yes,...,z_SUV,no,1995,2,No,0,0,1.0,0,Highly Urban/ Urban

In [6]:
category_columns=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['category_columns']
category_columns

array(['ID', 'KIDSDRIV', 'AGE', 'HOMEKIDS', 'INCOME', 'PARENT1',
       'HOME_VAL', 'MSTATUS', 'GENDER', 'EDUCATION', 'OCCUPATION',
       'CAR_USE', 'BLUEBOOK', 'CAR_TYPE', 'RED_CAR', 'OLDCLAIM',
       'CLM_FREQ', 'REVOKED', 'CLM_AMT', 'CLAIM_FLAG', 'URBANICITY'],
      dtype='<U10')

In [7]:
numeric_columns=dict(np.load(f'{save_dir}/columns_dtype.npz',allow_pickle=True))['numeric_columns']
numeric_columns

array(['YOJ', 'TRAVTIME', 'TIF', 'MVR_PTS', 'CAR_AGE'], dtype='<U8')

In [8]:
data_train.isnull().sum()

ID              0
KIDSDRIV        0
BIRTH           0
AGE             4
HOMEKIDS        0
YOJ           376
INCOME        378
PARENT1         0
HOME_VAL      381
MSTATUS         0
GENDER          0
EDUCATION       0
OCCUPATION    438
TRAVTIME        0
CAR_USE         0
BLUEBOOK        0
TIF             0
CAR_TYPE        0
RED_CAR         0
OLDCLAIM        0
CLM_FREQ        0
REVOKED         0
MVR_PTS         0
CLM_AMT         0
CAR_AGE       413
CLAIM_FLAG      0
URBANICITY      0
dtype: int64

In [9]:
(data_train==0).sum()

ID               0
KIDSDRIV      6058
BIRTH            0
AGE              0
HOMEKIDS      4479
YOJ            554
INCOME         552
PARENT1          0
HOME_VAL      1958
MSTATUS          0
GENDER           0
EDUCATION        0
OCCUPATION       0
TRAVTIME         0
CAR_USE          0
BLUEBOOK         0
TIF              0
CAR_TYPE         0
RED_CAR          0
OLDCLAIM      4191
CLM_FREQ      4191
REVOKED          0
MVR_PTS       3096
CLM_AMT       5042
CAR_AGE          2
CLAIM_FLAG    5042
URBANICITY       0
dtype: int64

In [10]:
(data_train=='none').sum()

ID            0
KIDSDRIV      0
BIRTH         0
AGE           0
HOMEKIDS      0
YOJ           0
INCOME        0
PARENT1       0
HOME_VAL      0
MSTATUS       0
GENDER        0
EDUCATION     0
OCCUPATION    0
TRAVTIME      0
CAR_USE       0
BLUEBOOK      0
TIF           0
CAR_TYPE      0
RED_CAR       0
OLDCLAIM      0
CLM_FREQ      0
REVOKED       0
MVR_PTS       0
CLM_AMT       0
CAR_AGE       0
CLAIM_FLAG    0
URBANICITY    0
dtype: int64

In [11]:
outliers=np.load(f'{save_dir}/outliers.npz',allow_pickle=True)['outliers']
outliers

array(['TRAVTIME', 'TIF', 'MVR_PTS'], dtype='<U8')

In [12]:
def check_outliers(name,outliers_list=[]):
    we=data[name].values
    Q1=np.quantile(we,0.25)
    Q3=np.quantile(we,0.75)
    IQR=Q3-Q1
    print("Q1: ",Q1,"Q3: ",Q3,"IQR:",IQR)
    outliers=np.unique(we[[(n<Q1-1.5*IQR)|(n>Q3+1.5*IQR) for n in we]])
    indexes=[we.tolist().index(i) for i in outliers]
    if len(indexes)>0:
        outliers_list.append(name)
    print("Indexes of outliers: ", indexes)
    print("Number of outliers: ", len(indexes))
    print("Outlier values", we[indexes])
    print("-----")

In [13]:
for col in numeric_columns:
    check_outliers(col)

Q1:  nan Q3:  nan IQR: nan
Indexes of outliers:  []
Number of outliers:  0
Outlier values []
-----
Q1:  22.0 Q3:  44.0 IQR: 22.0
Indexes of outliers:  [764, 658, 1909, 260, 3345, 272, 314, 4177, 1663, 1724, 1069, 7727, 1262, 10016, 7301, 3233, 4924, 9072, 2261, 4685, 10132, 8719, 6335, 1771, 3415, 7495, 4318]
Number of outliers:  27
Outlier values [ 78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  95  97
  98  99 101 103 105 113 124 134 142]
-----
Q1:  1.0 Q3:  7.0 IQR: 6.0
Indexes of outliers:  [33, 57, 1102, 762, 924, 865, 1631]
Number of outliers:  7
Outlier values [17 18 19 20 21 22 25]
-----
Q1:  0.0 Q3:  3.0 IQR: 3.0
Indexes of outliers:  [75, 306, 10, 2240, 9591, 60]
Number of outliers:  6
Outlier values [ 8  9 10 11 12 13]
-----
Q1:  nan Q3:  nan IQR: nan
Indexes of outliers:  []
Number of outliers:  0
Outlier values []
-----

In [14]:
data_train.isnull().sum()

ID              0
KIDSDRIV        0
BIRTH           0
AGE             4
HOMEKIDS        0
YOJ           376
INCOME        378
PARENT1         0
HOME_VAL      381
MSTATUS         0
GENDER          0
EDUCATION       0
OCCUPATION    438
TRAVTIME        0
CAR_USE         0
BLUEBOOK        0
TIF             0
CAR_TYPE        0
RED_CAR         0
OLDCLAIM        0
CLM_FREQ        0
REVOKED         0
MVR_PTS         0
CLM_AMT         0
CAR_AGE       413
CLAIM_FLAG      0
URBANICITY      0
dtype: int64

In [15]:
# data_train.Age.replace(0,np.nan,inplace=True)
data_train.dropna(inplace=True)

In [16]:
label_encoders = {}
for column in category_columns:
    label_encoder = LabelEncoder()
    data_train[column] = label_encoder.fit_transform(data_train[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = MinMaxScaler()
data_train[numeric_columns] = scaler.fit_transform(data_train[numeric_columns])
data_train

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG,URBANICITY
9213,1665,0,2055-08-30,0,1,0.608696,3229,0,2103,0,...,5,0,1627,2,1,0.384615,0,0.035714,0,1
1074,283,0,2052-02-06,0,0,0.478261,980,0,850,0,...,4,1,0,0,0,0.000000,0,0.285714,0,0
1469,4042,0,1970-06-26,2,1,0.391304,17,1,210,1,...,5,0,274,3,0,0.000000,1255,0.464286,1,0
2603,1487,0,2050-09-17,0,0,0.652174,160,0,0,0,...,3,0,0,0,0,0.000000,0,0.392857,0,0
10111,4713,1,2057-08-28,0,1,0.478261,2100,0,1817,0,...,1,0,975,1,0,0.615385,1112,0.035714,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,4407,0,2048-09-08,0,0,0.000000,0,0,0,0,...,5,0,0,0,0,0.000000,0,0.214286,0,0
6265,2927,0,2039-12-15,0,0,0.608696,3892,0,3073,0,...,1,1,730,2,0,0.307692,0,0.464286,0,0
5734,3790,1,2056-05-01,0,2,0.521739,676,0,847,0,...,3,0,0,0,0,0.000000,0,0.250000,0,1
5390,2183,0,2064-01-23,0,1,0.391304,3091,1,0,1,...,0,0,0,0,0,0.000000,806,0.142857,1,0
7270,2433,0,2059-01-20,0,3,0.652174,2048,0,565,0,...,5,0,210,2,0,0.000000,0,0.035714,0,0

In [17]:
# data_train.columns

In [18]:
x_train=data_train.drop('CLAIM_FLAG',axis=1)
y_train=data_train.CLAIM_FLAG
print(f'Kích thước của biến phụ thuộc và biến mục tiêu {x_train.shape} và {y_train.shape}')

Kích thước của biến phụ thuộc và biến mục tiêu (5152, 26) và (5152,)

In [21]:
for i in x_train.columns:
    print(i,end=',')

ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,GENDER,EDUCATION,OCCUPATION,TRAVTIME,CAR_USE,BLUEBOOK,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,URBANICITY,

In [22]:
datetime_columns = ['BIRTH']  
x_train = x_train.drop(datetime_columns, axis=1)

In [23]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weights_dict = {i : class_weights[i] for i in range(len(class_weights))}
np.savez(f'{save_dir}/class_weights_dict.npz', class_weights_dict = class_weights_dict)
class_weights_dict

{0: 0.6893229863526893, 1: 1.8204946996466431}

In [24]:
print(type(x_train))

<class 'pandas.core.frame.DataFrame'>

In [25]:
from imblearn.over_sampling import SMOTE
x_train, y_train = SMOTE().fit_resample(x_train, y_train)
print(x_train.shape,y_train.shape)

(7474, 25) (7474,)

In [27]:

data_test.dropna(inplace=True)


label_encoders = {}
for column in category_columns:
    label_encoder = LabelEncoder()
    data_test[column] = label_encoder.fit_transform(data_test[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = MinMaxScaler()
data_test[numeric_columns] = scaler.fit_transform(data_test[numeric_columns])

x_test=data_test.drop('CLAIM_FLAG',axis=1)
y_test=data_test['CLAIM_FLAG']
data_test.to_excel(f'{save_dir}/df_preprocessing.xlsx', index=False)
x_test.to_excel(f'{save_dir}/x_test.xlsx', index=False)
y_test.to_excel(f'{save_dir}/y_test.xlsx', index=False)
x_train.to_excel(f'{save_dir}/x_train.xlsx', index=False)
y_train.to_excel(f'{save_dir}/y_train.xlsx', index=False)